@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}

:root {
  --clr-primary: #325570;
  --clr-primary-light: #6a97b2;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .spinner-icon {
  display: none;
}

#nprogress .bar {
  background: var(--clr-primary);
}
